<h1>Hello, <%= username %></h1>
<h2>Characters</h2>

<% if(locals.data) { %>
<form class="option-form" action="/sort" method="post">
  <label for="options">Sort by:</label>
  <select name="options" id="options">
    <option value="default">Default</option>
    <option value="group">Group</option>
    <option value="name">Name</option>
  </select>
  <button type="submit">Sort</button>
</form>

<h3>Select a character</h3>
<div class="data-wrap">
  <div class="data-list">
    <% data.forEach(c => { %>
    <form action="/select" method="post">
      <div class="data-list-item">
        <button class="data-button" value="<%= c.name %>" name="character">
          <%= c.name %>
        </button>
        <input type="hidden" name="id" value="<%= c._id %>" />
        <p><%= c.group %></p>
      </div>
    </form>
    <% }); %>
  </div>
</div>

<div class="init-form">
  <h3>create a new character</h3>
  <form action="/new" method="post">
    <label class="form-label">Group</label>
    <input autocomplete="off" name="group" class="form-control" />
    <label class="form-label">Name</label>
    <input autocomplete="off" name="name" class="form-control" required />
    <p>Field required</p>
    <label class="form-label">Age</label>
    <input autocomplete="off" name="age" class="form-control" />
    <label class="form-label">Personality</label>
    <textarea name="personality" class="form-control form-textarea"></textarea>
    <label class="form-label">Appearance</label>
    <textarea name="appearance" class="form-control form-textarea"></textarea>
    <label class="form-label">Relationships</label>
    <textarea
      name="relationships"
      class="form-control form-textarea"
    ></textarea>
    <label class="form-label">Notes</label>
    <textarea name="notes" class="form-control form-textarea"></textarea>
    <br />
    <button type="submit">Add character</button>
  </form>
</div>
<% } else { %>
<p class="info2">
  You have no characters yet. Start developing your first one below.
</p>
<div class="init-form">
  <form action="/new" method="post">
    <label class="form-label">Group</label>
    <input autocomplete="off" name="group" class="form-control" />
    <label class="form-label">Name</label>
    <input autocomplete="off" name="name" class="form-control" required />
    <p>Field required</p>
    <label class="form-label">Age</label>
    <input autocomplete="off" name="age" class="form-control" />
    <label class="form-label">Personality</label>
    <textarea name="personality" class="form-control form-textarea"></textarea>
    <label class="form-label">Appearance</label>
    <textarea name="appearance" class="form-control form-textarea"></textarea>
    <label class="form-label">Relationships</label>
    <textarea
      name="relationships"
      class="form-control form-textarea"
    ></textarea>
    <label class="form-label">Notes</label>
    <textarea name="notes" class="form-control form-textarea"></textarea>
    <br />
    <button type="submit">Add character</button>
  </form>
</div>
<% } %>

<!-- else display form for first character in db -->
