<!-- single character table -->

<% if (locals.char) { %>
<h1><%= char.name %></h1>
<div class="init-form">
  <form action="/init" method="post">
    <label class="form-label">Name</label>
    <input name="name" class="form-control" value="<%= char.name %>" />
    <label class="form-label">Age</label>
    <input name="age" class="form-control" value="<%= char.age %>" />
    <label class="form-label">Personality</label>
    <textarea name="personality" class="form-control">
<%= char.personality %></textarea
    >
    <label class="form-label">Appearance</label>
    <textarea name="appearance" class="form-control">
<%= char.appearance %></textarea
    >
    <label class="form-label">Relationships</label>
    <textarea name="relationships" class="form-control">
<%= char.relationships %></textarea
    >
    <label class="form-label">Notes</label>
    <textarea name="notes" class="form-control"><%= char.notes %></textarea>
    <br />
    <button type="submit">Save</button>
  </form>
</div>
<% } else { %>
<p>Error receiving character data. Try again.</p>
<% } %>
