<!-- single character table -->

<% if (locals.char) { %>
<h1><%= char.name %></h1>
<div class="init-form">
  <form class="test" action="/delete" method="post">
    <input type="hidden" name="_id" value="<%= char._id %>" />
    <input class="delete-button" type="submit" value="Delete Character" />
    <p class="info">Warning - This action cannot be undone.</p>
  </form>
  <form action="/save" method="post">
    <label class="form-label">Group</label>
    <input
      autocomplete="off"
      name="group"
      class="form-control"
      value="<%= char.group %>"
    />
    <label class="form-label">Name</label>
    <input
      autocomplete="off"
      name="name"
      class="form-control"
      value="<%= char.name %>"
      required
    />
    <p>Field required</p>
    <label class="form-label">Age</label>
    <input
      autocomplete="off"
      name="age"
      class="form-control"
      value="<%= char.age %>"
    />
    <label class="form-label">Personality</label>
    <textarea name="personality" class="form-control form-textarea">
<%= char.personality %></textarea
    >
    <label class="form-label">Appearance</label>
    <textarea name="appearance" class="form-control form-textarea">
<%= char.appearance %></textarea
    >
    <label class="form-label">Relationships</label>
    <textarea name="relationships" class="form-control form-textarea">
<%= char.relationships %></textarea
    >
    <label class="form-label">Notes</label>
    <textarea name="notes" class="form-control form-textarea">
<%= char.notes %></textarea
    >
    <br />
    <input type="hidden" name="_id" value="<%= char._id %>" />
    <button type="submit">Save</button>
  </form>
</div>
<% } else { %>
<p>Error receiving character data. Try again.</p>
<% } %>

<!-- need char id to send -->
